/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.cabecalho{
    background-color: #FDF1EB;
    width: 1146px;
    height: 68px;
    //left: 220px;
    margin: 0 0 0 220px;
    display: inline-block;
}
.cabecalhodiv{
    width: 1146px;
    height: 68px;
    left: 220px;
    gap: 0px;
    opacity: 0px;
    display: inline-block;
    margin-left: 30px;
}

.issn{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    line-height: 0%;
}

.anais1{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    line-height: 0%;
}
.anais13{
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 25.78px;
    text-align: left;
}

.idiomas{
    width: 97px;
    height: 34px;
    top: 17px;
    left: 789px;
    gap: 0px;
    border-radius: 3px;
    border: 1px 1px 1px 1px;
    opacity: 0px;

.email{
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
    text-align: right;

}
.pessoa{
    width: 30.3px;
    height: 30.63px;
    top: 18.68px;
    left: 1077.85px;
    border: 1px 1px 1px 1px;
    border-radius: 15px;
}

.login{
    width: 202px;
    height: 34px;
    top: 17px;
    left: 908px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    float: right;
}

.content{
    width: 1059px;
    height: 1382px;
    margin: 88px 0 0 263px;
}

header{
    background-color: #FDF1EB;
    width: 1058px;
    height: 45px;
    top: 542px;
    left: 1px;
    border-radius: 3px 3px 0px 0px;
    border: 1px 0px 0px 0px; 
}

.p{
    font-family: Quicksand;
    font-size: 12px;
    color: #725C5C;
    margin-block-start: 0%;
    margin-block-end: 0%;
}

body { 
    background-color: #FFFFFF;
    margin: 0%;
}

.flex-container {
    //display: flex;
    flex-direction:column
}

.menu{
    width: 220px;
    height: 2072px;	 
    float: left;
    position: fixed;
    background-color: #FFFFFF;
    top: 0;
    z-index: 1;
   }

a{
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
    color: #725C5C;
    text-decoration: none;
    margin-left: 20px;
}

.trabalhos{
    width: 220px;
    height: 33px;
    gap: 0px;
    opacity: 0px;
    background: #FDF1EB;
    line-height: 0%;
}

.slaca{
    width: 220px;
    height: 68px;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    display: inline-block
}

.slaca2{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 35.16px;
    text-align: center;
    color: #FFFFFF;
    
}

.icon{
    width: 84px;
    height: 86px;
    border-radius: 50px 50px 50px 50px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    
}

.botoes{
    float: right;
    height: 54px;

}

.citacao{
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-align: right;
    color: #ED7839;
}

.download{
    background: #ED7839;
    color: #FFFFFF;
    width: 120px;
    height: 31px;
    left: 842px;
    padding: 6px 12px 6px 12px;
    gap: 5px;
    border-radius: 4px 4px 4px 4px;
    opacity: 0px;
    border: none;
    
}

.star{
    background: #ED7839;
    width: 43px;
    height: 31px;
    left: 967px;
    padding: 6px 12px 6px 12px;
    gap: 5px;
    border-radius: 4px 4px 4px 4px;
    opacity: 0px;
    border: none;

}

.doi{
    background:#ED7839;
    width: 43px;
    height: 31px;
    left: 1015px;
    padding: 6px 12px 6px 12px;
    gap: 5px;
    border-radius: 4px 4px 4px 4px;
    opacity: 0px;
    border: none;
}

.doiimg{
    width: 19px;
    height: 19px;
    gap: 0px;
    opacity: 0px;
}

.video{
    background-image:url(assets/video.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 784px;
    height: 439px;
    top: 73px;
    left: 2px;
    gap: 0px;
    opacity: 0px;

}

.h2video{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-align: left;

}

.detalhes{
    float: right;
    width: 242px;
    height: 439px;
    top: 73px;
    left: 816px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #ECECEC;
}

.headerdetail{
    width: 242px;
    height: 45px;
    border-radius: 3px 3px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

h1{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #ED7839;
}

h2{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #FFFFFF;
}

h3{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
    color: #4E4E4E;
}

h4{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    text-align: center;
    color: #ED7839;
}
.name{
    font-family: Quicksand;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
    color: #5C5C5C;
}

.resumo{
    width: 1058px;
    height: 560px;
    top: 542px;
    left: 1px;
    border-radius: 3px;

    border: 1px solid #ECECEC;
}

.imagens{
    display: flex;
    align-items: center;
    justify-content: center;
}
.discocoes{
    align-items: center;
    justify-content: center;
}

.topico{
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    width: 133px;
    height: 32px;
    border-radius: 1px 1px 1px 1px;
    opacity: 0px;
    border: none;
    color: #FFFFFF;
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;

}

.assunto{
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #ED7839;
    line-height: 0%;
}

hr{
    border: 1px solid #E7E7E7
}


.galoa{
    //width: 1146px;
    height: 181px;
    //top: 2133px;
    left: 220px;
    padding: 0px 46px 0px 14px;
    gap: 0px;
    opacity: 0px;

}